<!-- templates/about.html -->
{% extends "_base.html" %}
{% block title %}About Us{% endblock title %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>About Us</h1>
            <p>Welcome to AAS Travel Agency, your premier destination for unforgettable travel experiences.</p>

            <p>At AAS Travel, we believe that travel is not just about visiting new places; it's about creating lasting
                memories, experiencing different cultures, and exploring the beauty of the world. With a passion for
                travel and a commitment to excellence, we've been helping travelers like you make the most of their
                journeys since our founding.</p>

            <p>Our dedicated team of travel experts is here to assist you every step of the way. Whether you're planning
                a relaxing beach getaway, an adventurous trek through the mountains, a romantic honeymoon, or a family
                vacation, we've got you covered. We offer a wide range of travel services, from booking flights and
                accommodations to arranging guided tours and activities.</p>

            <p>Why choose AAS Travel Agency?</p>
            <ul>
                <li>Expertise: Our team has in-depth knowledge of various destinations and can provide personalized
                    recommendations.</li>
                <li>Convenience: We handle all the details, so you can relax and enjoy your trip without stress.</li>
                <li>Value: We work to find the best deals and discounts to make your travel budget-friendly.</li>
                <li>Quality: We partner with reputable airlines, hotels, and tour operators to ensure a high-quality
                    travel experience.</li>
            </ul>

            <p>Thank you for considering AAS Travel Agency for your travel needs. We look forward to helping you create
                memories that will last a lifetime. Contact us today to start planning your next adventure!</p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'img/plane.jpg' %}" alt="Tour Image">
            <!-- You can add an image or other content here if needed -->
        </div>
    </div>
</div>
{% endblock content %}