/* static/css/base.css */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: red;
}

.sani {
    height: 300px;
    width: auto;
}

.myservices {
    height: 300px;
    width: auto;
}